.col-lg-6 p {
  font-size: 20px;
  font-family: "tahoma";
  font-weight: bold; }

.col-lg-6 p {
  font-size: 20px;
  font-family: "tahoma";
  font-weight: bold; }

/* variables */
.col-lg-6 h1 {
  color: blue; }

.col-lg-6 p {
  color: yellow;
  font-size: 20px; }

.texto {
  background: linear-gradient(to bottom, black, yellow); }
  .texto__encabezado {
    color: yellow; }
  .texto__parrafo {
    font-size: 20px; }
    .texto__parrafo--color {
      color: blue; }
      @media only screen and (max-width: 768px) {
        .texto__parrafo--color {
          color: yellow; } }

.col-lg-6 p {
  font-size: 20px;
  font-family: "tahoma";
  font-weight: bold; }

/* variables */
.col-lg-6 h1 {
  color: blue; }

.col-lg-6 p {
  color: yellow;
  font-size: 20px; }

.texto {
  background: linear-gradient(to bottom, black, yellow); }
  .texto__encabezado {
    color: yellow; }
  .texto__parrafo {
    font-size: 20px; }
    .texto__parrafo--color {
      color: blue; }
      @media only screen and (max-width: 768px) {
        .texto__parrafo--color {
          color: yellow; } }

.col-lg-12, .col-xs-12, .col-lg-4, .container-fluid, .row {
  padding: 0;
  margin: 0; }

.nav-link {
  color: blue !important; }

.background-color {
  background-color: red; }

.titulo {
  color: white; }

.fuente {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

/*
.lista{
    list-style-type:circle;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
}*/
ul {
  list-style: circle;
  background-color: grey;
  width: 75%; }
  ul li {
    color: white; }
    ul li:hover {
      color: blue; }

.div1 {
  font-size: large; }
